body {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #707070;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #212529;
}
form {
  background-color: #28a745; 
  color: #fff; 
}
.precios {
  margin-left: 65%;
}
.precio-oferta {
  color: #28a745;
  font-size: 1.5rem;
}
.nav-link {
  color: #fff;
}
.navbar {
  background-color: #28a745;
}
.navbar-nav {
  margin-left: auto;
}
.card {
  margin: 1rem;
}
